.change-password-profile:disabled{
    color:white; 
     background:rgb(159, 153, 153);
    }

    .opacity_img{
        opacity: 0.45;
       }
       .opacity_img:hover{
        cursor:pointer;
        opacity: 1.0;

       }

    