.All-page{
    .view-course{
        min-width:1325px;
        min-height:1000px;
        padding-top: 50px;
        padding-left: 300px; 
        display: flex; 
        flex-wrap: wrap;
        .topbar{
            min-width:1060px;
            max-width:1060px;
            min-height:1050px;
            display: flex; 
            justify-content: left;
            min-width:1000px;
            flex-wrap: wrap;
            max-height:fit-content;
            
            
        }
        
    }
    
}
